<% content_for :head do %>
  <meta property="og:type" content="company"/>
  <meta property="og:title" content="Intel Ultrabook Project"/>
  <meta property="og:description" content="Your city. His inspiration."/>
  <meta property="og:url" content="http://<%= request.env['HTTP_HOST'] %>/cities/<%= @city.id %>/interactive"/>
  <meta property="og:image" content="http://<%= request.env['HTTP_HOST'] %>/mosaics/city-<%= @city.id %>/<%= @mosaic.id %>.jpg"/>
  <script type="text/javascript">
  	var request_HTTP_HOST = "<%= request.env['HTTP_HOST'] %>";
	var city_name = "<%= @city.name %>";
	var city_id = "<%= @city.id %>";
	var city_mosaic = "/mosaics/city-<%= @city.id %>/<%= @mosaic.id %>.jpg";
	window.city_id_code = "<%= @city.id %>";
   </script>

<% end %>
<script type="text/javascript">	
	var swfInitialized = false;
	var params = {};
	var allvars = '';	
	function FBUser_swfInitialize(){
		allvars = 'mosaicDataPath=/cities/<%= @city.id %>/mosaics/latest.xml&'
						+'facebook_app_url='+'http://apps.facebook.com/<%= KCONF['fb_app_id']%>/&'
						+'cities_status=/cities.xml&'
						+'loc_code=en_de&'
						+'currentCityId=<% if @city_none %>none<%else%>city-<%=@city.id%><% end %>&'   // wip city-1 is none
						+'currentMosaicId=<%= @mosaic.id unless @mosaic.nil? %>_files&'
						+'usersurl=/users.xml&'
						+'unitSize=6&'
						+'mosaicWidth=744&'
						+'mosaicHeight=504&'
						+'layoutDataUrl=/assets/layoutdata.xml&'
						+'assetUrl=/assets/resource.swf&'
						+'mosaic_image=/assets/pagoda-new.jpg&'
						+'mosaicPath=/mosaics&'
						+'stringsUrl=/assets/strings.xml&'
						+'baseUrl=/uploads/picture/file/&'
						+'userId='+kb.FBUser.id;
		
		params = {
		    flashvars: allvars,
		    wmode:"transparent",
		    id:"swf_div",
		    scale:"noscale",
		    allowscriptaccess:"always"
		};

		var attributes = {};
		attributes = {
		    id:"swf_div",
		    name:"swf_div"
		}
		
		swfobject.embedSWF("/assets/gallery_root.swf","swf_div","744","564","10.0.0","/assets/expressInstall.swf",null,params,attributes);
		window.swfInitialized = true;
	}

	$(function(){
		//Cufon.replace($('#intel_use'));
		$('#intel_about a').click(function(e){
			pauseSwf();
			trackMosaicEvent('watch','video','bottomnav');
			e.preventDefault();
			$.modal('<iframe src="https://www.youtube.com/embed/zWKVSXkrWUc" width="640" height="340" style="border:0">', {
				containerCss:{
					width: 640,
					height:360,
					padding:0
				},
				onClose:closeVideoModal,
				position: [80,],
				overlayClose:true
			});
		})

		$('#intel_use').click(function(e){
			e.preventDefault();
			
			$("#intel_tos_content").modal({
				overlayClose:true,
				onOpen: function (dialog) {
					dialog.overlay.fadeIn('slow', function () {
						dialog.data.hide();
						dialog.container.fadeIn('slow', function () {
							dialog.data.slideDown('slow');
						});
					});
				},
				containerCss:{
					background: '#ccc',
					width: 640,
					height:360,
					padding:20
				}
				});
					
		});


	});
	function closeVideoModal(dialog){
	resumeSwf();
	try{
		dialog.data.fadeOut('slow', function () {
			dialog.container.hide('fast', function () {
				dialog.overlay.slideUp('fast', function () {
					$.modal.close();
				});
			});
		});
	} catch(e){};	
	}

</script>
		
<div id='swf_div' height='516' width='744'>
</div>

<div id="page_footer_global">
	<div id="fb_like_container">
		<div class="fb-like" data-href="http://review.kbsp.com:4000/cities/<%= @city.id %>/interactive" data-send="false" data-layout="button_count" data-width="80" data-show-faces="false"></div>
	</div>
	<div id="intel_about">
		<a href="#ultrabook-video">&nbsp;</a>
	</div>
	<div id="william_listen" onclick="javascript:trackMosaicEvent('listen','audio','bottomnav');">
		<a href="http://www.intel.com/content/www/us/en/ultrabook/ultrabook-project/ultrabook-project.html?globe" target="_blank">&nbsp;</a>
	</div>
	<div id="">
	</div>
	<div id="">
	</div>
</div>

<div class="fb-comments" data-href="http://<%= request.env['HTTP_HOST'] %>/cities/<%= @city.id %>/interactive" data-num-posts="2" data-width="470"></div>


<div id="intel_tos">
	<a id="intel_use" href="#terms-of-use">Terms of Use & Privacy</a>
</div>
<div id="intel_tos_content" style="display: none;">
	<%= render :template => 'pictures/_legal' %>
</div>
