<% content_for :head do %>
  <meta property="og:url" content="http://<%= request.env['HTTP_HOST'] %>/cities/<%= @city.name.downcase %>/interactive"/>
  <meta property="og:title" content="<%= @city.name%> Mosaic Viewer"/>
  <script type="text/javascript">
  	var request_HTTP_HOST = "<%= request.env['HTTP_HOST'] %>";
	var city_name = "<%= @city.name %>";
  </script>
  <%= javascript_include_tag "jquery.simplemodal-1.4.2" %>
<% end %>
<script type="text/javascript">	
	var params = {};
	var allvars = 	'mosaicDataPath=/cities/<%= @city.name %>/mosaics/latest.xml&'
					+'loc_code=en_de&'
					+'currentCityId=city-<%= @city.id %>/<%= @mosaic.id %>_files&'
					+'unitSize=6&'
					+'mosaicWidth=744&'
					+'mosaicHeight=516&'
					+'layoutDataUrl=/assets/layoutdata.xml&'
					+'assetUrl=/assets/resource.swf&'
					+'mosaic_image=/assets/pagoda-new.jpg&'
					+'mosaicPath=/mosaics&'
					+'stringsUrl=/assets/strings.xml&'
					+'userId=1;
        
	params = {
            flashvars: allvars,
            wmode:"transparent",
            id:"swf_div",
            scale:"noscale",
            allowscriptaccess:"always"
        };
        
        var attributes = {};
        attributes = {
            id:"swf_div",
            name:"swf_div"
        }

		swfobject.embedSWF("/assets/gallery_root.swf","swf_div","744","576","10.0.0","/assets/expressInstall.swf",null,params,attributes);
</script>
		
<div id='swf_div' height='516' width='744'>
</div>

<div class="fb-comments" data-href="http://<%= request.env['HTTP_HOST'] %>/cities/<%= @city.name.downcase %>/interactive" data-num-posts="2" data-width="470"></div>


