<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Intel Ultrabook Project</title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :application %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  <script type="text/javascript">
  	var request_HTTP_HOST = "<%= request.env['HTTP_HOST'] %>";
	var facebook_app_url = "<%= KCONF['fb_app_url'] %>"; 
  	var mosaic_fb_share = false;
  </script>
  </head>
  <body <%= "class='page_picture_upload'" unless (params[:action]!="new" && params[:controller]!="pictures") %>>
  <div id="fb-root"></div>
  <script type="text/javascript">


  var translate_current = 0;//english first
  var translate_vals = [
  	{ 
		'label' : 'english',
		'optionX' : 0,
		'optionY' : 0,
		'locale' : 'en_US',
		'upload_callout' : 'Join the mosaic by uploading an image that best represents you and your city. ',
		'upload_caption' : 'Add a caption to your upload',
		'upload_paste' : 'Paste an image link here',
		'upload_complete' : 'Upload Complete!',
		'upload_mdoerate' : 'Almost done. We’ve received your video and are quickly reviewing for content. Check back within 24 hrs to see if you’ve been approved.',
		'upload_video' : 'Paste a YouTube or Vimeo video link here',
		'fb_share' : 'Share city on your wall'
	},
	{
		'label' : 'korean',
		'optionX' : 0,
		'optionY' : 18,
		'locale' : 'ko_KR',
		'upload_callout' : '여러분과 여러분의 도시를 대표할 수 있는 사진을 업로드하여 울트라북 프로젝트에 참여하세요.',
		'upload_caption' : '게시물에 대한 설명을 남겨주세요',
		'upload_paste' : '이곳에 이미지 링크를 올려주세요',
		'upload_complete' : '업로드가 완료되었습니다!',
		'upload_mdoerate' : '사진 등록이 완료되었습니다. 24시간내에 사진 승인및 업로드 여부 확인이 가능합니다.',
		'upload_video' : '이곳에 비디오 링크를 올려주세요 YouTube or Vimeo',
		'fb_share' : '담벼락에서공유하기'
	}
  ];

  function getLanguageVal(key){
  	var val = translate_vals[translate_current][key];
	return val;
  }

   var kb = kb || {};
   kb.FBGraphFetch = function(){
	FB.api('/me', function(response) {
		kb.FBUser = { 
				name : response.name,
				id : response.id,
				locale : response.locale
			    };
		kb.FBUser_populate_form();
		
		//will be undefined in the form iframe.
		if (typeof FBUser_swfInitialize != "undefined"){
			FBUser_swfInitialize();
		}
	});

    }

    kb.FBUser_populate_form = function(){
	$('#picture_user_attributes_fbid').val(kb.FBUser.id);
	$('#picture_user_attributes_name').val(kb.FBUser.name);
	$('#picture_user_attributes_locale').val(kb.FBUser.locale);

	var fbprofilepic = 'https://graph.facebook.com/'+kb.FBUser.id+'/picture';
	$('#fbavatar').html('<img src="'+fbprofilepic+'"/>');
	$('#fbusername').html(kb.FBUser.name);
        Cufon.replace($('h2.cufon-intel'));
    }

    window.fbAsyncInit = function() {
      FB.init({
        appId      : '<%= KCONF['fb_app_id'] %>', // App ID
        channelUrl : '//<%= request.env['HTTP_HOST'] %>/channel.html', // Channel File
        status     : true, // check login status
        cookie     : true, // enable cookies to allow the server to access the session
        xfbml      : true  // parse XFBML
      });
	
	FB.getLoginStatus(function(response) {
	  if (response.status === 'connected') {
	    // the user is logged in and connected to your
	    // app, and response.authResponse supplies
	    // the user's ID, a valid access token, a signed
	    // request, and the time the access token 
	    // and signed request each expire
	    kb.FBGraphFetch();
	  } else { //if (response.status === 'not_authorized') {
	    // the user is logged in to Facebook, 
	    //but not connected to the app
	    // Additional initialization code here
	     FB.login(function(response) {
	       if (response.authResponse) {
	       	 kb.FBGraphFetch();
	       } else {
	       }
	     }, {scope: 
		  'email'
		    
		});
	   }
	 });

    };


    // Load the SDK Asynchronously
    (function(d){
       var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
       js = d.createElement('script'); js.id = id; js.async = true;
       js.src = "//connect.facebook.net/en_US/all.js";
       d.getElementsByTagName('head')[0].appendChild(js);
     }(document));
  </script>
    <div id="container">
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
