<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= content_for?(:title) ? yield(:title) : "jQuery-File-Upload" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :application %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  <script type="text/javascript">
  	var request_HTTP_HOST = "<%= request.env['HTTP_HOST'] %>";
	var facebook_app_url = "http://apps.facebook.com/368266769857206";
  	var mosaic_fb_share = false;
  </script>
  </head>
  <body <%= "class='page_picture_upload'" unless (params[:action]!="new" && params[:controller]!="pictures") %>>
  <div id="fb-root"></div>
  <script>

   var kb = kb || {};
   kb.FBGraphFetch = function(){
	FB.api('/me', function(response) {
		kb.FBUser = { 
				name : response.name,
				id : response.id,
				locale : response.locale
			    };
		kb.FBUser_populate_form();
		FBUser_swfInitialize();
	});

    }

    kb.FBUser_populate_form = function(){
	$('#picture_user_attributes_fbid').val(kb.FBUser.id);
	$('#picture_user_attributes_name').val(kb.FBUser.name);
	$('#picture_user_attributes_locale').val(kb.FBUser.locale);

	var fbprofilepic = 'http://graph.facebook.com/'+kb.FBUser.id+'/picture';
	$('#fbavatar').html('<img src="'+fbprofilepic+'"/>');
	$('#fbusername').html(kb.FBUser.name);
        Cufon.replace($('h2.cufon-intel'));
    }

    window.fbAsyncInit = function() {
      FB.init({
        appId      : '368266769857206', // App ID
        channelUrl : '//<%= request.env['HTTP_HOST'] %>/channel.html', // Channel File
        status     : true, // check login status
        cookie     : true, // enable cookies to allow the server to access the session
        xfbml      : true  // parse XFBML
      });

	FB.getLoginStatus(function(response) {
	  if (response.status === 'connected') {
	    // the user is logged in and connected to your
	    // app, and response.authResponse supplies
	    // the user's ID, a valid access token, a signed
	    // request, and the time the access token 
	    // and signed request each expire
	    kb.FBGraphFetch();
	  } else { //if (response.status === 'not_authorized') {
	    // the user is logged in to Facebook, 
	    //but not connected to the app
	    // Additional initialization code here
	     FB.login(function(response) {
	       if (response.authResponse) {
	       	 kb.FBGraphFetch();
	       } else {
	       }
	     }, {scope: 
		  'email'
		    
		});
	   }
	 });

    };


    // Load the SDK Asynchronously
    (function(d){
       var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
       js = d.createElement('script'); js.id = id; js.async = true;
       js.src = "//connect.facebook.net/en_US/all.js";
       d.getElementsByTagName('head')[0].appendChild(js);
     }(document));
  </script>
    <div id="container">
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
